
<form class="ui stacked segment form" action="/dashboard/addassessment" method="POST">
    <h3>New Assessment</h3>
    <div class="two fields">
        <div class="field">
            <label><img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fweight.png?v=1562875522947" width="30px"> Weight</label>
            <input placeholder="00.00kg" type="number" name="weight" step="any">
        </div>
        <div class="field">
            <label><img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fchest.png?v=1562875522629" width="30px"> Chest</label>
            <input placeholder="00.00cm" type="number" name="chest" step="any">
        </div>
        <div class="field">
            <label><img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fthigh.png?v=1562875524175" width="30px"> Thigh</label>
            <input placeholder="00.00cm" type="number" name="thigh" step="any">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label><img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fupperarm.png?v=1562875522835" width="30px"> Upper Arm</label>
            <input placeholder="00.00cm" type="number" name="upperarm" step="any">
        </div>
        <div class="field">
            <label><img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fwaist.png?v=1562875522926" width="30px"> Waist</label>
            <input placeholder="00.00cm" type="number" name="waist" step="any">
        </div>
        <div class="field">
            <label><img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fhips.png?v=1562875523729" height="30px"> Hips</label>
            <input placeholder="00.00cm" type="number" name="hips" step="any">
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
    <a href="/dashboard" class="ui blue right floated button">Clear Form</a>
</form>