<table class="ui fixed table">
<thead>
<tr>
    <th><i class="big user icon"></i><header class="ui header">
        {{name}}'s Gym Account
    </header> </th>


    <th>

        {{#if idealWeight}}
        <i class= "big green tachometer alternate icon"></i>
        {{else}}
            <i class= "big red tachometer alternate icon"></i>
        {{/if}}
              <header class="ui header">Ideal Weight Indicator</header></th>

    <th><i class="big heartbeat icon"></i>{{bmi}}<header class="ui header">BMI</header></th>

    <th><i class="big user doctor icon"></i>{{bmiCategory}}<header class="ui header">Weight Status</header></th>
</tr>

</thead>
<tbody>

</tbody>
</table>