{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
    <h3>
        Jim's Gym
    </h3>
    <p>
        The best gym in the world! (Tc's and C's apply)
    </p>

    <p> Sign up or Log in... </p>
</section>
