{{> welcomemenu id="signup"}}

<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui stacked segment form" action="/register" method="POST" autocomplete="on">
            <h3 class="ui header">Register</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstname" required autofocus>
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastname" required>
                </div>
            </div>
            <div class="field">
                <label>Gender</label>
                <input placeholder="Gender" type="text" name="gender" required>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" name="email" required>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="field">
                <label>Address</label>
                <input placeholder="Address" type="text" name="address" required>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Height in Metres</label>
                    <input placeholder="00.00m" type="number" name="height" step="any" required>
                </div>
                <div class="field">
                    <label>Starting Weight</label>
                    <input placeholder="00.00kg" type="text" name="startWeight" step="any" required>
                </div>
            </div>
            <button class="ui blue submit button">Submit & Login</button>
            <a href="/login" class="ui blue right floated button">Already Have an Account</a>
        </form>
    </div>
    <div class="column">
        <img class="ui image" src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Flogo.png?v=1562875523899">
    </div>
</div>