{{> menu id="dashboard"}}

<section class="ui segment">
    <a href="/memberlist"><i class="arrow left icon"></i>Back to Member List</a>
  {{> hud}}
    {{> traineraddgoal}}
    {{> trainergoals}}
  {{> trainerassessments}}
</section>

